.main {
  display: flex;
  flex-direction: column;
  background-color: rgba(245, 246, 247, 1);
  width: 100%;
}

.main__title {
  margin: 80px;
  margin-bottom: 64px;
  margin-left: 80px;
  font-family: "Roboto Slab";
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  letter-spacing: 0;
  color: rgba(26, 27, 34, 1);
}

.main__more-button {
  width: 288px;
  height: 64px;
  border-radius: 100px;
  border-style: none;
  margin: 0 auto;
  margin-bottom: 80px;
  padding: 0;
  background-color: rgba(255, 255, 255, 1);
  color: rgba(26, 27, 34, 1);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  vertical-align: middle;
}

.main__more-button:hover {
  background-color: rgba(232, 232, 232, 1);
  cursor: url("../../images/cursor.svg"), auto;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .main__title {
    margin-left: 40px;
    margin-bottom: 32px;
    font-size: 30px;
    line-height: 34px;
  }

  .main__more-button {
    width: 240px;
    height: 56px;
    border-radius: 80px;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 768px) {
  .main__title {
    margin: 32px 16px;
    margin-bottom: 34px;
    font-size: 30px;
    line-height: 34px;
  }

  .main__more-button {
    width: 288px;
    height: 56px;
    border-radius: 80px;
    margin-bottom: 24px;
  }
}
