.modal {
  visibility: hidden;
  opacity: 0;
  transition:
    visibility 0s linear 0.5s,
    opacity 0.5s linear;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__container {
  width: 430px;
  height: max-content;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 207px;
  left: 505px;
}

.modal__container.popup {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 16px;
}

.modal__is-opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__close-btn {
  background-image: url(../../images/close-button.svg);
  opacity: 100%;
  background-size: cover;
  background-color: transparent;
  background-position: center;
  border: none;
  cursor: url("../../images/cursor.svg"), auto;
  padding: 0;
  position: fixed;
  width: 40px;
  height: 40px;
  top: 161px;
  left: 941px;
  opacity: 1;
}

.modal__title {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-left: 36px;
  margin-top: 43px;
}

.modal__switch {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: rgba(47, 113, 229, 1);
  cursor: url("../../images/cursor.svg"), auto;
  margin-left: 36px;
  margin-bottom: 51px;
}

@media screen and (max-width: 768px) {
  .modal__container {
    left: 169px;
  }
  .modal__close-btn {
    left: 605px;
  }
}

@media screen and (max-width: 320px) {
  .modal__container {
    width: 320px;
    height: 560px;
    top: 56px;
    left: 0;
  }
  .modal__close-btn {
    top: 16px;
    left: 288px;
  }
}
