.search__form {
  margin: 0 auto;
  margin-top: 88px;
  margin-bottom: 80px;
  display: flex;
  width: 608px;
  min-height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
}

.search__input {
  width: 584px;
  height: 64px;
  border-radius: 100px;
  border-width: 0;
  border-color: transparent;
  padding: 0;
  padding-left: 24px;
  font-size: 16px;
  color: rgba(26, 27, 34, 1);
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0;
  outline: none;
}

.search__input:focus {
  border: solid 0px rgba(26, 27, 34, 1);
}

.search__input::placeholder {
  color: rgba(182, 188, 191, 1);
}

.search__submit-button {
  width: 168px;
  height: 64px;
  border-radius: 100px;
  border-style: none;
  margin-left: -168px;
  padding: 0;
  background-color: rgba(47, 113, 229, 1);
  color: rgba(255, 255, 255, 1);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0;
  vertical-align: middle;
  outline: none;
}

.search__form:focus-within {
  border: solid 1px rgba(0, 0, 0, 1);
}

.search__submit-button:hover {
  background-color: rgba(52, 126, 255, 1);
  cursor: url("../../images/cursor.svg"), auto;
}

.search__submit-button:active {
  background-color: rgba(42, 101, 204, 1);
  cursor: url("../../images/cursor.svg"), auto;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .search__form {
    margin-top: 48px;
    margin-bottom: 48px;
    width: 452px;
    min-height: 56px;
  }
  .search__input {
    width: 448px;
    height: 56px;
  }
  .search__submit-button {
    min-width: 160px;
    height: 56px;
    margin-left: -160px;
  }
}

@media screen and (max-width: 768px) {
  .search__form {
    margin-top: 122px;
    margin-bottom: 32px;
    flex-direction: column;
    gap: 16px;
    width: 288px;
  }
  .search__input {
    width: 272px;
    padding-left: 16px;
  }
  .search__submit-button {
    width: 288px;
    margin: 0 auto;
  }
  .search__input:focus {
    border: solid 1px rgba(0, 0, 0, 1);
  }
  .search__form:focus-within {
    border: none;
  }
}
