.footer {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  color: rgba(26, 27, 34, 1);
}

.footer__copyright {
  color: rgba(182, 188, 191, 1);
  margin: auto 0;
  margin-left: 104px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0px;
}

.footer__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 24px;
  margin-right: 104px;
}

.footer__link {
  background-color: transparent;
  border: none;
  padding: 0;
  height: 24px;
  margin: 0 auto;
  margin-top: 7px;
  text-decoration: none;
  color: rgba(26, 27, 34, 1);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
}

.footer__link:hover {
  cursor: url("../../images/cursor.svg"), auto;
}

.footer__link-icon {
  width: 24px;
  height: 24px;
}

.footer__link-icon:hover {
  cursor: url("../../images/cursor.svg"), auto;
}

.footer__list-item {
  display: flex;
  gap: 40px;
  margin: auto 0;
}

@media screen and (max-width: 768px) {
  .footer {
    height: 64px;
  }
  .footer__copyright {
    margin-left: 40px;
  }
  .footer__list {
    margin-right: 40px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    height: 176px;
    width: 288px;
    flex-direction: column-reverse;
    padding: 22px 16px;
    padding-bottom: 32px;
  }
  .footer__copyright {
    margin-top: 38px;
    width: 288px;
    margin: 0 auto;
  }
  .footer__list {
    margin: 0;
    justify-content: space-between;
  }
  .footer__list-item.home-tripleten {
    display: flex;
    flex-direction: column;
    height: 74px;
  }
  .footer__link {
    margin: 0;
    text-align: left;
  }
  .footer__list-item {
    display: flex;
    gap: 40px;
    margin: 0;
  }
}
