.list__container {
  background-color: rgba(245, 246, 247, 1);
  display: flex;
  justify-content: center;
  width: 100%;
}

.card__list {
  width: 90%;
  padding: 0;
  gap: 16px;
  margin: 0;
  margin-top: 62px;
  margin-bottom: 64px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: flex-start;
  background-color: transparent;
  justify-content: center;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .card__list {
    gap: 8px;
    margin-top: 32px;
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 768px) {
  .card__list {
    gap: 10px;
    margin-top: 24px;
    margin-bottom: 16px;
  }
}
