.list__container {
  background-color: rgba(245, 246, 247, 1);
  display: flex;
}

.card__list {
  padding: 0;
  gap: 16px;
  margin: 0;
  margin-left: 104px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: flex-start;
  background-color: transparent;
}

@media screen and (max-width: 768px) {
  .card__list {
    gap: 8px;
    margin-left: 40px;
    margin-top: 32px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 320px) {
  .card__list {
    gap: 10px;
    margin-left: 16px;
    margin-top: 24px;
    margin-bottom: 12px;
  }
}
